.page-enter-active,
.page-leave-active {
  transition: all 250ms ease-out;
}

.page-enter,
.page-leave-active {
  opacity: 0;
  transform-origin: 50% 50%;
}

@keyframes easeOpenLeft {
  0% {
    left: -40%;
  }

  100% {
    left: 0;
  }
}

@keyframes easeOpenRight {
  0% {
    right: -40%;
  }

  100% {
    right: 0;
  }
}

.colorful-loading {
  background: linear-gradient(90deg,$primary, $white, $primary, $white);
  background-size: 300% 100%;
  animation: colorful-animation 2s linear infinite;
}

@keyframes colorful-animation {
  0% {
    background-position: 100%;
  }

  100% {
    background-position: 0;
  }
}
