// Main Colors
$primary: #784ed1;
$second-primary: #9371da;
$light-primary: #9f62f2;
$dark-primary: #5e35b1;
$badge-primary: #5f4b8a;
$mid-light-primary: #d3bdff;
$ultra-light-primary: #efe7ff;

$secondary: #00aea4;
$light-secondary: #15d1c6;
$dark-secondary: #109a91;
$alert-secondary: #185a55;
$mid-light-secondary: #a0ece7;
$ultra-light-secondary: #dcf8f7;
$new-secondary: #20c5ba;

$danger: #f26672;
$light-danger: #fb7f8f;
$dark-danger: #fc3c55;
$alert-danger: #54272a;
$mid-light-danger: #fdcbd2;
$ultra-light-danger: #ffecee;
$light-blue: #699bf7;
$dark-green: #13766f;
$error: #ee5862;
$dark-error: #be464e;

$info: #2d80da;
$light-info: #3b8eec;
$dark-info: #1565c0;
$alert-info: #35496e;
$mid-light-info: #afd1f7;
$ultra-light-info: #e1eefc;
$light-gray: #e5e5e5;
$shade-gray: #666;

$warning: #fb3;
$light-warning: #ffc943;
$dark-warning: #eea003;
$alert-warning: #674a13;
$mid-light-warning: #ffe9b3;
$ultra-light-warning: #fff4d9;
$dark-gray:#999;

// Dark to Light Colors
$black: #000;
$grey-900: #14151a;
$grey-800: #1e2026;
$grey-700: #292c34;
$grey-600: #4c505b;
$grey-500: #85888f;
$grey-400: #a3a5a8;
$grey-350: #b8b8b8;
$grey-300: #e3e4e5;
$grey-200: #efefef;
$grey-150: #e4e8f1;
$grey-100: #f2f3f5;
$white: #fff;
$silver: #c4c4c4;

$transparent: rgba(0, 0, 0, 0);

// Z-index
// $zero-index: less than default
// $low-index: custom-checkbox, slider, ...
// $below-normal-index: tooltip, dropdown, ...
// $normal-index: market-pair, ...
// $above-normal-index: header, sidebar, live-chat, ...
// $high-index: modal, ...
// $very-high-index: very high
$zero-index: 0;
$low-index: 100;
$below-normal-index: 1000;
$normal-index: 10000;
$above-normal-index: 100000;
$high-index: 1000000;
$very-high-index: 10000000;

// Action Colors
$colors: (
  'primary': $primary,
  'secondary': $light-secondary,
  'warning': $warning,
  'success': $secondary,
  'danger': $danger,
  'info': $info,
  'light': $grey-100,
  'default': $grey-400,
  'dark': $grey-800,
  'shade-gray': $shade-gray,
  'dark-gray': $dark-gray,
  'dark-secondary': $dark-green,
  'dark-danger': $dark-error,
  'light-primary': $light-primary,
  'second-primary' : $second-primary,
  'error': $error,
  'primary-gray': $grey-700
);

$dark-colors: (
  'primary': $dark-primary,
  'secondary': $secondary,
  'warning': $dark-warning,
  'success': $dark-secondary,
  'danger': $dark-danger,
  'info': $dark-info,
  'light': $grey-300,
  'default': $grey-600,
  'dark': $black,
  'dark-secondary': $dark-secondary,
  'dark-danger': $dark-danger,
  'light-primary': $light-primary
);

$ultra-light-colors: (
  'primary': $ultra-light-primary,
  'secondary': $ultra-light-secondary,
  'warning': $ultra-light-warning,
  'success': $ultra-light-secondary,
  'danger': $ultra-light-danger,
  'info': $ultra-light-info,
  'light': $white,
  'default': $grey-300,
  'dark': $grey-200
);

$alert-colors: (
  'general': $grey-600,
  'warning': $warning,
  'info': $info,
  'question': $primary,
  'success': $secondary,
  'danger': $danger
);

// Spacing
$spacing: (
  '0': 0,
  '8': (8/16) + rem,
  '16': (16/16) + rem,
  '24': (24/16) + rem,
  '32': (32/16) + rem,
  '40': (40/16) + rem,
  '48': (48/16) + rem,
  '56': (56/16) + rem,
  '64': (64/16) + rem,
  '72': (72/16) + rem,
  '80': (80/16) + rem,
  '88': (88/16) + rem,
  '96': (96/16) + rem,
  '104': (104/16) + rem,
  '112': (112/16) + rem,
  '120': (120/16) + rem,
  '128': (128/16) + rem,
  '136': (136/16) + rem,
  '144': (144/16) + rem,
  '152': (152/16) + rem,
  '160': (160/16) + rem
);

$directions: (
  'l': 'left',
  'r': 'right',
  't': 'top',
  'b': 'bottom',
);

$breakpoints: (
  "xs": 480px,
  "sm": 768px,
  "md": 992px,
  "lg": 1200px,
  "xl": 1380px,
  "ul": 1680px
);

// Typography
$primary-head: (42/16) +rem;
$primary-title: (36/16) +rem;
$secondary-title: (29/16) +rem;
$primary-subtitle: (26/16) +rem;
$secondary-subtitle: (22/16) +rem;
$card-title: (19/16) +rem;
$card-paragraph: (15/16) +rem;
$paragraph: (12/16) +rem;
$secondary-paragraph: (10/16) +rem;
$title: (16/16) +rem;
$sub-title: (14/16) +rem;
$form-title: (20/16) +rem;

$font-size: (
  '42': $primary-head,
  '36': $primary-title,
  '29': $secondary-title,
  '26': $primary-subtitle,
  '22': $secondary-subtitle,
  '19': $card-title,
  '15': $card-paragraph,
  '12': $paragraph,
  '10': $secondary-paragraph,
  '16': $title,
  '14': $sub-title,
  '20': $form-title
);

// Action Text
$texts: (
  'title': var(--text-primary),
  'subtitle': var(--text-secondary),
);

// Shadows
$light-shadow: 0 2px 10px var(--shadow-color-1);
$medium-shadow: 0 2px 10px var(--shadow-color-2);

// Border Radius
$radius: (
  '0': 0,
  '3': 3px,
  '5': 5px,
  '10': 10px,
  '15': 15px,
  '25': 25px,
);
