.custom-checkbox {
  display: flex;
  align-items: center;
  user-select: none;

  input[type="checkbox"] {
    cursor: pointer;
    width: (24/16) + rem;
    min-width: (24/16) + rem;
    height: (24/16) + rem;
    position: relative;
    appearance: none;
    border-radius: (3/16) + rem;

    &:focus {
      outline: none;
      border-radius: (3/16) + rem;
    }

    html[dir="rtl"] & {
      margin-left: (8/16) + rem !important;
    }

    html[dir="ltr"] & {
      margin-right: (8/16) + rem !important;
    }
  }

  input[type="checkbox"]::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2px solid $grey-400;
    border-radius: (3/16) + rem;
    z-index: $low-index;
  }

  input[type="checkbox"]::before {
    content: '';
    color: $white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    background-size: cover;
    z-index: $low-index + 1;
    border-radius: 0.3em;
    transition: opacity 0.2s;
    opacity: 0;
  }

  input[type="checkbox"]:focus::before {
    box-shadow: none;
  }

  input[type="checkbox"]:checked::before {
    opacity: 1;
    background-color: $primary;
  }

  input[type="checkbox"]:checked::after {
    z-index: $low-index + 1;
    content: '';
    top: 3px;
    width: 7px;
    height: 15px;
    border: solid $white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    border-radius: 0;

    html[dir="rtl"] & {
      right: 8.5px;
    }

    html[dir="ltr"] & {
      left: 8.5px;
    }
  }

  label {
    margin-bottom: 0;
    color: var(--text-primary);
    user-select: none;
    cursor: pointer;
  }

  @include down("sm") {
    input[type="checkbox"] {
      width: 1rem;
      min-width: 1rem;
      height: 1rem;

      &:checked::after {
        top: 1px;
        width: 4px;
        height: 10px;

        html[dir="rtl"] & {
          right: 5.5px;
        }

        html[dir="ltr"] & {
          left: 5.5px;
        }
      }
    }
  }
}
