/*stylelint-disable*/

@each $size,
$value in $font-size {
  .fs-#{$size} {
    font-size: #{$value} !important;
  }
}

.fw-regular {
  font-weight: 400 !important;
}

.fw-bold {
  font-weight: 500 !important;
}

// TODO: check Line-height values!
@for $i from 8 through 42 {
  .lh-#{$i} {
    line-height: ($i/16) + rem !important;
  }
}


@each $breakpoint, $_ in $breakpoints {
  @include device($breakpoint) {
    @each $size,
    $value in $font-size {
      .fs-#{$size}-#{$breakpoint} {
        font-size: #{$value} !important;
      }
    }

    .fw-regular-#{$breakpoint} {
      font-weight: 400 !important;
    }

    .fw-bold-#{$breakpoint} {
      font-weight: 500 !important;
    }
  }
}
