.step-number {
  color: $dark-primary;
  border-radius: 50%;
  background: $ultra-light-primary;
  width: 24px !important;
  height: 24px;

  &-active {
    color: $white;
    border-radius: 50%;
    background: $dark-primary;
    width: 24px !important;
    height: 24px;
  }
}

.input-without-arrows {
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }
}

.input-with-icon {
  position: relative;

  .input-icon {
    position: absolute;
    right: (16/16) + rem;
    top: 25%;
    cursor: pointer;
    padding: 0;
  }
}

input[type="text"]:disabled,
input[type="number"]:disabled,
input[type="password"]:disabled,
input[type="textarea"]:disabled,
input[type="email"]:disabled {
  background-color: var(--disabled-background) !important;
  // todo: check with UX team
}

.validation-feedback {
  display: flex;
  flex-direction: column;
}

.input-wrapper {
  input::placeholder {
    color: var(--text-secondary);
  }
}

.vpd-main {
  height: 100%;

  .vpd-input-group {
    height: 100%;

    .form-control {
      background: transparent;
      border: none;
      height: 100%;
      color: var(--text-primary);

      &:focus {
        box-shadow: none;
      }
    }
  }
}

.height-48 {
  height: 48px !important;
}

html[dir="rtl"] .custom-select-box .vs__search {
  text-align: right !important;
}

html[dir="ltr"] .custom-select-box .vs__search {
  text-align: left !important;
}
