.nobitex-panel {
  min-height: 100vh;
  background-color: var(--background-color);
  overflow-x: hidden;
  height: 100vh;

  &__header {
    position: sticky;
    left: 0;
    top: 0;
    right: 0;
    z-index: $above-normal-index + 1;
  }

  &__main {
    .container {
      max-width: 100%;
      padding: 1rem 2rem;
    }
  }

  .livechat {
    &-container {
      @include down("sm") {
        &.is-logged-in {
          bottom: 83px;

          &.swipe {
            bottom: 150px;
          }
        }
      }
    }
  }

  .secondary-footer {
    @include down("sm") {
      &.is-logged-out {
        padding-bottom: (48/16) + rem;
      }

      &.is-logged-in {
        padding-bottom: (48/16) + rem;

        &.is-exchange {
          padding-bottom: (104/16) + rem;
        }
      }
    }
  }
}
