/*stylelint-disable*/

.custom-scroll-bar {
  ::-webkit-scrollbar {
    width: 4px;
  }
  ::-webkit-scrollbar:horizontal {
    height: 4px;
  }
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px $transparent;
    border-radius: 5px;
  }
  ::-webkit-scrollbar-thumb {
    background: var(--scroll-bar-color);
    border-radius: 5px;
  }
  ::-webkit-scrollbar-thumb:vertical {
    height: 77px;
  }
  ::-webkit-scrollbar-thumb:horizontal {
    width: 77px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: var(--scroll-bar-color-hover);
  }
  ::-webkit-scrollbar-track-piece:start {
    background: $transparent;
  }
  ::-webkit-scrollbar-track-piece:end {
    background: $transparent;
    margin-bottom: 15px;
  }
  ::-webkit-scrollbar-corner {
    display: none;
  }
}
.table-scroll-bar {
  ::-webkit-scrollbar:vertical {
    width: 16px;
  }
  ::-webkit-scrollbar-thumb:vertical {
    background: var(--scroll-bar-color);
    border-left: 6px solid var(--card-background-color);
    border-right: 6px solid var(--card-background-color);
    border-radius: 0;
  }
  ::-webkit-scrollbar-thumb:vertical:hover {
    background: var(--scroll-bar-color-hover);
  }
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
