/*stylelint-disable*/

@each $text,
$value in $texts {
  .text-#{$text} {
    color: $value !important;
  }
}

@each $text,
$value in $colors {
  .text-#{$text} {
    color: $value !important;
  }
}

.no-wrap {
  white-space: nowrap;
}

.text-underline {
  text-decoration: underline;
}

html {
  &[dir="ltr"] {
    .text-aligned {
      text-align: left;
    }

    .text-reversed-align {
      text-align: right;
    }
  }

  &[dir="rtl"] {
    .text-aligned {
      text-align: right;
    }

    .text-reversed-align {
      text-align: left;
    }
  }
}

@each $breakpoint, $_ in $breakpoints {

  @include device($breakpoint) {
    .text-center-#{$breakpoint} {
      text-align: center !important;
    }
  }
}

//temporary
.title-color {
  color: var(--text-purple);
}
