.attention {
  max-height: (50/16) + rem;

  span {
    color: $dark-warning;
  }

  img {
    height: (30/16) + rem;
    width: (30/16) + rem;
  }

  @include down("sm") {
    max-height: (50/16) + rem;

    img {
      height: (17/16) + rem;
      width: (17/16) + rem;
    }
  }

  @include between("sm", "lg") {
    img {
      height: (17/16) + rem;
      width: (17/16) + rem;
    }
  }

  html[dir="ltr"] & {
    border-right: 1px solid $grey-500;
  }

  html[dir="rtl"] & {
    border-left: 1px solid $grey-500;
  }
}
