.vue-slider-mark {
  cursor: pointer;
  height: 13px !important;
  width: 13px !important;
  background: $grey-100;
  border-radius: 50% !important;
  border: 4px solid var(--card-background-color) !important;
  z-index: $low-index !important;

  &:first-child .vue-slider-mark-step,
  &:last-child .vue-slider-mark-step {
    display: block !important;
  }

  &.vue-slider-mark-active {
    border-color: $second-primary !important;

    .vue-slider-mark-step {
      background-color: $white;
    }
  }
}

.vue-slider-process {
  background-color: $second-primary !important;
}

.vue-slider-ltr {
  height: 2px !important;
}

.vue-slider-dot {
  width: 20px !important;
  height: 20px !important;

  &.vue-slider-dot-hover {
    z-index: $low-index + 1 !important;
  }

  .vue-slider-dot-handle {
    background: $white;
    border: 6px solid $primary;
    z-index: $low-index + 1 !important;
    border-radius: 50%;
    width: 20px !important;
    height: 20px !important;
    box-shadow: none !important;
    cursor: grab;
  }
}

.vue-slider-dot-tooltip {
  visibility: visible !important;

  .vue-slider-dot-tooltip-inner {
    background: transparent !important;

    &::after {
      display: none !important;
    }

    .vue-slider-dot-tooltip-text {
      color: var(--text-primary) !important;
    }
  }
}

.vue-slider-dot-tooltip-bottom {
  bottom: -3px !important;
  font-size: 12px !important;
}
