.v-tour {
  .v-step {
    background-color: $primary !important;
    z-index: $very-high-index + 11 !important;

    &__button {
      border-radius: (4/16) + rem !important;

      &-next,
      &-stop {
        background-color: $white !important;
        color: $primary !important;
      }
    }

    &[data-popper-placement^="left"] .v-step__arrow {
      right: -10px !important;
    }
  }

  //&__target--relative {
  //  background-color: $transparent !important;
  //}

  &__target--highlighted {
    box-shadow: 0 0 0 99999px rgba(0,0,0,0.6) !important;
  }
}
