@mixin shimmer($color, $duration: 2.5s) {
  background: inherit;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 10%, $color 30%, rgba(0, 0, 0, 0) 90%);
  background-repeat: repeat-x;
  background-size: 50% 100%;
  animation-duration: $duration;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-name: shimmerAnimation;
}

@keyframes shimmerAnimation {
  0% {
    background-position-x: -100%;
  }

  100% {
    background-position-x: 100%;
  }
}

.shimmer {
  @include shimmer(var(--background-color), 2s);
}

.shimmer-table {
  @include shimmer(var(--background-color));
}
